.input-todo{
border:none;
box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.20);
height:2rem;
border-radius: 5px;
margin-right: 1rem;
padding: 0 1rem;
}

.btn-agregar{
 height: 2rem;
 border:none;
 outline: none;
 background: #3498db;
 border-radius: 5px;
 color:#fff;
 text-transform: uppercase;
 padding:0 1rem; 
 &:active{
  filter: brightness(1.1);
   box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.20);
 }
}